// Nextflow flags
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"

// workflow marapeters
params {
    // process params
    output_dir               = "results"
    publish_mode             = 'copy'

    // pipeline params
    datasets               = "move2irods/examples/dataset_list_head.csv"
    irodspath              = "/archive/cellgeni/datasets"
}
process {
    cpus          = 4
    queue         = 'normal'
    maxRetries    = 5
    errorStrategy = "retry"
    container     = '/nfs/cellgeni/singularity/images/scenicplus-fa55dae.sif'
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir  = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_trace.tsv"
}