// Nextflow flags
nextflow.enable.configProcessNamesValidation = false
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"
outputDir = params.outdir

// workflow parameters
params {
    // pipeline params
    help                    = false
    samples                 = null
    validate_local_only     = false
    collect_metadata        = false
    validatecollections     = null
    irodsbase               = "/archive/cellgeni/datasets"
    irodsconfig             = null
    ignore_pattern          = ".bam,.bai,.cram,.crai,.fastq.gz,.fq.gz,.fastq,.fq,.sh,.bsub,.pl"
    qc_suffix               = "solo_qc"
    no_contamination_check  = false
    no_exit_local           = false

    // output parameters
    publish_mode        = 'link'
    outdir              = "results"
    monochrome_logs     = false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}
process {
    cpus          = 4
    queue         = 'normal'
    maxRetries    = 5
    errorStrategy = "retry"
}
// Load config for cisTopic component
includeConfig 'configs/starsoloqc.config'
includeConfig 'configs/reprocess10x_aggregatemeta.config'
includeConfig 'configs/irods_storefile.config'
includeConfig 'configs/irods_attachcollectionmeta.config'
includeConfig 'configs/irods_listcollection.config'
includeConfig 'configs/reprocess10x_validateirods.config'
includeConfig 'configs/reprocess10x_validatelocal.config'
includeConfig 'configs/fetch10xmeta.config'
includeConfig 'configs/reprocess10x_irodsbarcodesandlogs.config'

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs,/etc/ssl'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled   = true
    overwrite = true
    file      = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled   = true
    overwrite = true
    file      = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled   = true
    overwrite = true
    file      = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled   = true
    overwrite = true
    file      = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}
lineage {
    enabled = true
}

// Manifest
manifest {
  name            = 'cellgeni/nf-processed2irods'
  homePage        = 'https://github.com/cellgeni/nf-processed2irods'
  description     = "Nextflow pipeline to store processed data on iRODS"
  mainScript      = 'main.nf'
  nextflowVersion = '!>=26.04.1'
  version         = '0.0.2'
  defaultBranch   = 'main'
  contributors    = [
    [
      name: 'Aljes Binkevich',
      email: 'ab76@sanger.ac.uk',
      github: 'claptar',
      contribution: ['author', 'maintainer'],
    ],
  ]
}
