process {
    withName: '.*IRODS_STOREFILE' {
        ext.args = "-KV -f -X restart.txt --retries 10 --acl 'read public#archive'"
        errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
        maxForks = 20
        array    = 100
        queue    = 'transfer'
        cpus     = 2
        memory   = 4.GB
    }
}