process {
    withName: '.*IRODS_LISTCOLLECTION' {
        ext.args      = params.irodsconfig ? "--env-file ${params.irodsconfig}" : ""
        errorStrategy = { task.exitStatus == 2 ? 'ignore' : 'retry' }
        queue         = 'transfer'
        maxForks      = 10
        cpus          = 1
        array         = 100
        memory        = 2.GB
    }
}
